results_debug/
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
*.idea
**/*.pth.tar
**/*.pth
**qsublogs
**qsub_logs
**/.ipynb_checkpoints
**/**/.ipynb_checkpoints
**/**/**/.ipynb_checkpoints
.ipynb_checkpoints
source/admin/local.py
gs:/
